apiVersion: v1
clusters:
- cluster:
    server: {Server}
    certificate-authority-data: {CaCert}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: "ops-k8s"
  name: admin
current-context: admin
kind: Config
preferences: {{}}
users:
- name: "ops-k8s"
  user:
    client-certificate-data: {K8sCaCert}
    client-key-data: {K8sKey}
